<body>
<div id='loDeDentro'>
<h1><%= @concert.band_name %></h1>
<p id='especial'>
	<strong>Lugar:</strong>
	<%= @concert.venue %>
	<strong>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbspCiudad:</strong>
	<%= @concert.city %>
	<strong>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbspFecha:</strong>
	<%= @concert.date %>
	<strong>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbspPrecio:</strong>
	<%= @concert.price %> euros
</p>
<p id='descrip'>
	<strong>Descripción:</strong><br/>
	<%= @concert.description %>
</p>

<button type='button' id='like-button'>Me gusta</button>

<span id='back'><%= link_to 'Back', concerts_path %></span>
</div>
</body>