<%= form_for @article do |f| %>
  <p>
    <%= f.label :Marca %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :Modelo %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :Procesador %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :RAM %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :Precio %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<p>
  <%= link_to 'Back', articles_path %>
</p>